[submodule "Sample/Demo"]
	path = Samples/Demo
	url = https://github.com/BenzinOzor/Demo.git
[submodule "Samples/BareboneDemo"]
	path = Samples/BareboneDemo
	url = https://github.com/BenzinOzor/BareboneDemo
[submodule "Samples/Checklist"]
	path = Samples/Checklist
	url = https://github.com/BenzinOzor/Checklist
[submodule "Samples/Floors"]
	path = Samples/Floors
	url = https://github.com/BenzinOzor/Floors
[submodule "Samples/MiniGames"]
	path = Samples/MiniGames
	url = https://github.com/BenzinOzor/MiniGames
[submodule "Utilities/SoIREditor"]
	path = Utilities/SoIREditor
	url = https://github.com/BenzinOzor/SoIREditor
[submodule "Utilities/HadesBoonHelper"]
	path = Utilities/HadesBoonHelper
	url = https://github.com/BenzinOzor/HadesBoonHelper
[submodule "Games/TSOIRebirth"]
	path = Games/TSOIRebirth
	url = https://github.com/BenzinOzor/TSOIRebirth
[submodule "Utilities/PerlerMaker"]
	path = Utilities/Pixeler
	url = https://github.com/BenzinOzor/PerlerMaker
[submodule "Utilities/MarathonMessageCreator"]
	path = Utilities/MarathonMessageCreator
	url = https://github.com/BenzinOzor/MarathonMessageCreator
[submodule "Utilities/TruthTable"]
	path = Utilities/TruthTable
	url = https://github.com/BenzinOzor/TruthTable
[submodule "Games/Floktober_2024"]
	path = Games/Floktober_2024
	url = https://github.com/BenzinOzor/Floktober_2024
[submodule "Utilities/1Y1G Splits Manager"]
	path = Utilities/1Y1G_SplitsManager
	url = https://github.com/BenzinOzor/1Y1G_splits_manager
