################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.json
*.sqlite
*.tlog
*.obj
*.res
*.log
*.idb
*.pdb
*.ilk

/FrameWork/FrameWork/Bin
/FrameWork/FrameWork/Dependencies/Libs/FrameWork
/FrameWork/FrameWork/Intermediate
/FrameWork/FrameWorkWrapper/Bin
/FrameWork/FrameWorkWrapper/Intermediate

/FrameWork/FrameWork/Dependencies/DynamicLibs/Debug/FrameWork_d.dll
/FrameWork/FrameWorkWrapper/Dependencies/DynamicLibs/Debug/FrameWorkWrapper_d.dll

/FrameWork/FrameWork/Dependencies/DynamicLibs/Release/FrameWork_r.dll
/FrameWork/FrameWorkWrapper/Dependencies/DynamicLibs/Release/FrameWorkWrapper_r.dll

